footer{
  padding-top: 80px;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    section{
      img:first-child{
        margin-bottom: 20px;
      }
      li{
        line-height: 25px;
      }
      .contacts,
      .socials,
      .upper{
        margin-bottom: 20px;
      }
      .socials{
        i{
          font-size: 35px;
          color: #b2bec3;
          margin: 0 10px;
          transition: 0.3s linear;
          &:hover{
            color: #636e72;
          }
        }
      }
      .upper{

      }
      .lower{

      }
      h3{
        margin-bottom: 15px;
      }
    }
  }
  .mountains{
    width: 100%;
    height: 20vh;
    margin: 0 auto;
    background-image: url("/img/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
