header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: $primary_color;
  border-bottom: 1px solid #b2bec3;
  .container{
    .row{
      display: flex;
      align-items: center;
      justify-content: center;
      #logo{
        width: 150px;
        display: block;
        margin-bottom: 15px;
      }
    }
  }
}
