body{
  padding-top: 150px;
  main{
    .row{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 5px;
      padding: 30px 0;
    }
    .card{
      animation: soft 1s linear;
    }
    background: rgb(85,239,196);
    background: linear-gradient(273deg, rgba(85,239,196,0.6) 0%, rgba(9,132,227,0.6) 66%);
    .container{
      .titolo{
        padding-top: 20px;
        color: $primary_font_color;
      }
      &.prodotto-singolo{
        .titolo{
          text-align: center;
          padding: 35px 0;
        }
        .row{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          grid-gap: 5px;
          padding: 0;
          img{
            width: 100%;
            object-fit: contain;
            animation: soft 1s linear;
          }
          .descrizione-prodotto{
            padding: 40px 0;
            p{
              line-height: 25px;
            }
          }
        }
      }
    }
  }
}
