@media all and (max-width: 1200px) {
  .card{
    width: calc(100% / 3 - 10px);
  }
}

@media all and (max-width: 800px) {
  .card{
    width: calc(100% / 2 - 10px);
  }
  footer{
    font-size: 0.8rem;
  }
}

@media all and (max-width: 420px) {
  .card{
    width: 100%;
  }
  footer{
    font-size: 0.5rem;
  }
}
